-#  <!--<h1><%= @project.name %></h1>-->
-#  <!--<br>-->
-#  <%= link_to "New Task", new_project_task_path(@project), remote: true, id: "new_task_button", class: "link" %><br><br>
-#  <!--<div id="form_container">-->
-#  <!--</div>-->
-#  <!--<div id="tab_head_container">-->
-#    <!--<a href="#open_tasks" class="link tab_head active">Open</a>-->
-#    <!--<a href="#closed_tasks" class="link tab_head">Closed</a>-->
-#    <!--<div style="clear: both;"></div>-->
-#  <!--</div>-->
-#  <!--<div id="open_tasks" class="tab_content">-->
-#    <!--<% if @open_tasks[0] %>-->
-#  <!--<% @open_tasks.each do |task|  %>-->
-#    <!--<%= render partial: "tasks/display", locals: {task: task} %>-->
-#  <!--<% end  %>-->
-#  <!--<% else  %>-->
-#  <!--<p>No tasks have been opened! Get started slacker!!!</p>-->
-#  <!--<% end  %>-->
-#  <!--</div>-->
-#  <!-- -->
-#  <!--<div id="closed_tasks" class="tab_content hidden">-->
-#<!--<% if @closed_tasks[0]  %>-->
-#    <!--<% @closed_tasks.each do |task|  %>-->
-#      <!--<%= render partial: "tasks/display", locals: {task: task} %>-->
-#    <!--<% end  %>-->
-#<!--<% else  %>-->
-#    <!--<p>No tasks have been closed! Get back to work!</p>-->
-#  <!--<% end  %>-->
-#  <!--</div>-->

%h1= @project.name

%br

= link_to "New Task", new_project_task_path(@project), remote: true, id: "new_task_button", class: "link"
#form_container

#tab_head_container
  %a.link.tab_head.active{href: '#open_tasks'} Open
  %a.link.tab_head{href: '#closed_tasks'} Closed
  %div{style: 'clear: both'}

.tab_content#open_tasks
  - if @open_tasks[0]
    -@open_tasks.each do |task|
      = render partial: "tasks/display", locals: {task: task}
  - else
    %p No tasks have been opened! Get started slacker!!!

.tab_content.hidden#closed_tasks
  - if @closed_tasks[0]
    -@closed_tasks.each do |task|
      = render partial: "tasks/display", locals: {task: task}
  - else
    %p No tasks have been closed, get back to work!!!