/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.tab_content, .tab_head, #project_container{
/*  border:black solid 1px;
*/}
.tab_content{
  background:#BCBABA;
  position:relative;
  z-index:1;

}

.tab_head{
  width:45%;
  position:relative;
  border-bottom:none;
  z-index:0;
}
a{
  padding:5px;
}

.active{
  background:#636161;
  z-index:2;
}

a img{
  width:10px;
}

.open_img{
  transform: rotate(90deg);
}

.task_head h2{
  padding-top:5px;
  margin-top:0;
}
